body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("./images/360_F_85364337_JBbGgC2J6gmGB7hWX1FbrwBQVzjYgFCq.jpg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */
 
button {
    color: #016f32 ;
    width: 150px;
    background: goldenrod;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
   
}